{
    "version": 2,
    "builds": [
        {
            "src": "./index.js",
            "use": "@now/node-server"
        }
    ],
    "routes": [
        {
            "src": "/(.*)",
            "dest": "/"
        }
    ],
    "env": {
        "MONGO_CONNECT_STRING": "",
        "PORT": 3000
    }
}